<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="cellDefaultColor" value="Silver" />
    <add key="cellHighlightColor" value="Yellow" />
    <add key="cellSelectedColor" value="Red" />
    <add key="cellSpecialColor" value="Black" />
  </appSettings>
</configuration>